* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 1em 1em;
    border: 0.1em solid rgb(0, 0, 0);
    background-color: #191765;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.container .container_title {
    font-size: 3em;
    color: #9390ff;
    padding: 1rem 0;
}

.label {
    font-size: 2em;
    margin: 0.1rem;
    padding: 0.1rem;
}

.container .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-num {
    padding: 1em 0 1em 0.5em;
    font-size: 2em;
    color: blueviolet;
}

.option-container {
    width: 100%;
    padding: 1em 0.5em;
    font-size: 2em;
    font-weight: bold;
    /* margin: 0.1em auto; */
    letter-spacing: 0.5px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container .form .btn {
    padding: 1em;
    font-size: 1.7em;
    font-weight: bold;
    background-color: #5e42d7;
    border: 1px solid #9390ff;
    border-radius: 4px;
}

.container .form .answer {
    font-size: 2em;
    text-align: center;
    border: 1px solid rgb(69, 69, 223);
}

.container .form .answer .ans-text {
    font-size: 2em;
    overflow-wrap: break-word;
}

.small {
    font-size: 1.2rem;
}

@media (max-width: 320px) {
    body {
        font-size: 50%;
    }
}